# PyCharm
.idea/

# Byte-compiled/optimized
# __pycache__/
# *.pyc

# Distribution/packaging
lib64
lib/python*/site-packages/*
!lib/python*/site-packages/spman

# bin
bin/*
!bin/spman

# virtualenv
pyvenv.cfg
