# PyCharm
.idea/

# bin
bin/*
!bin/spman

# Byte-compiled/optimized
__pycache__/
# *.pyc

# Distribution/packaging
include/
lib/python3.5/site-packages/*
!lib/python3.5/site-packages/spman
lib64

# virtualenv
pyvenv.cfg
