Requirements:
    - Slackware Linux
    - GNU coreutils
    - GNU diffutils
    - GNU wget
    - pkgtools
    - Python 3.0+ (available on SlackBuilds.org)

Optional dependencies:
    - bash-completion   - for autocomplete the input parameters
                            (from standard Slackware repository, group extra)
    - sbbdep            - Slackware binary dependency checker for search
                            dependency problems functionality
                            (available on SlackBuilds.org)
    - tqdm              - show progress bar for some parameters
                            (available on SlackBuilds.org)
